.div1{
   /* border: 2px solid green; */
   display: flex;
  
   

}

.container1{
    width: 70%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    


}

.oasisimage{
    margin-left: 40px;
    /* border: 2px solid yellow; */
    width: 30%;
    
   
}

.initiative{
    font-size: 9px;
    margin-left: 40px;
    letter-spacing: 0.72em;
    margin-top: -5px;

}

#donate{
    background-color: #EB4600;
    color: white;
    padding:12px 40px;
    border-radius: 8px;
}


